<extend name="Common/common" />
<block name="stylesheet">
    <link rel="stylesheet" href="/mobile/style/public.css">
</block>
<block name="title">发布话题</block>
<block name="header_btn"> <a href="javascript:;" onclick="ck.submit();" id="upload">发布</a> </block>
<block name="content">

    <div class="page">
        <div class="instruct_text">
            免责声明：本平台发布的所有信息（收费、免费）展示，内容本身与平台无关，平台不负任何责任。
        </div>
        <div class="textarea-box">
            <textarea class="weui-textarea" name="content" placeholder="请输入文本" rows="5"></textarea>
        </div>
        <div class="uploader js_show" id="uploader">
            <div class="page__bd">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="weui-uploader">
                                <div class="weui-uploader__hd">
                                    <p class="weui-uploader__title">上传图片</p>
                                    <div class="weui-uploader__info">最多上传9张照片</div>
                                </div>
                                <div class="weui-uploader__bd">
                                    <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                                    <div class="weui-uploader__input-box">
                                        <input id="uploaderInput" class="weui-uploader__input"
                                               type="file" accept="image/*" multiple="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" class="uploader js_show">
        var uploadCount = 0;

        var layer;
        layui.use(['layer'], function(){
            layer = layui.layer;
        });

        weui.uploader('#uploader', {
            url: '{:U("upload/head_img")}',
            auto: true,
            type: 'file',
            fileVal: 'head_img',
            onBeforeQueued: function(files) {
                if(["image/jpg", "image/jpeg", "image/png", "image/gif"].indexOf(this.type) < 0)
                {
                    weui.alert('请上传图片');
                    return false;
                }
                if(this.size > 10 * 1024 * 1024)
                {
                    weui.alert('请上传不超过10M的图片');
                    return false;
                }
                if (files.length > 9)
                {
                    weui.alert('最多只能上传9张图片，请重新选择');
                    return false;
                }
                if (uploadCount + 1 > 9)
                {
                    weui.alert('最多只能上传9张图片');
                    return false;
                }
                ++uploadCount;
                return true;
            },
            onQueued: function(){
                var tmp = '<li class="weui-uploader__file" style="background-image:url(#url#)">' +
                        '<input type="hidden" name="images[]" id="images_'+ this.id +'" value="" /></li>';
                $("#uploaderFiles").append($(tmp.replace('#url#', this.url)).click(function(){
                    $(this).remove();
                }));
                return true;
            },onBeforeSend: function(){
                layer.load(0, {shade: 0.6});
            },
            onSuccess: function (ret){
                layer.closeAll();
                if( ret.code != 0){
                    return ;
                }
                $('#images_' + this.id).val(ret.filename);
            }
        });

        (function(_){

            _.submit = function()
            {
                var content = $('textarea[name="content"]').val();
                var images = $('input[name="images[]"]');

                var img = [];
                for(var i = 0 ; i < images.length ; i+=1)
                {
                    img.push( images.eq(i).val() );
                }

                layer.load(0, {shade: 0.6});
                $.post("{:U('forum/release')}", {content: content, images: img}, function(returnData)
                {
                    layer.closeAll();
                    ajaxReturnMsg(returnData);
                });
            };

        })(ck={});
    </script>
</block>