<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>论坛首页</title>
    <link rel="stylesheet" href="./lib/css/weui.css">
    <link rel="stylesheet" href="./lib/css/weui_reset.css">
    <link rel="stylesheet" href="./fonts/iconfont.css">
    <link rel="stylesheet" href="./style/public_index.css">
</head>
<body>
<div class="header">
    <!--左侧图标-->
    <span class="header-back" onclick="window.history.go(-1)">
            <i class="txh icon-xiangzuo"></i>
        </span>
    <!--中间文字-->
    <span class="header-text">微论坛</span>
    <!--右侧按钮-->
    <span class="header-btn">
        <a style="font-weight: normal;">
           <i class="txh icon-jia"></i>发布
        </a>
    </span>

</div>
<div class="header-function">
    <div class="function-bar">
        <div class="bar-list active">
            <i class="txh icon-dongtai" style="font-size: 14px"></i>动态
        </div>
        <div class="bar-list">
            <i class="txh icon-remen1"></i>热门
        </div>
        <div class="bar-list">
            <i class="txh icon-faxian"></i>发现
        </div>
    </div>
</div>
<div class="page">
    <div class="page-content page-content-common">
        <div class="function-banner"></div>
        <div class="recommend-topic">
            <i class="txh icon-jian"></i>推荐话题
        </div>
        <div class="topic-list-box">
            <div class="topic-list">
                <div class="topic-list-title">
                    <div class="list-title-left">
                        <div class="left-header">
                            <img src="./images/luntan/luntan_header1.png" alt="">
                        </div>
                        <div class="left-username">
                            <p class="username">小狼孩</p>
                            <p class="time">20:23</p>
                        </div>
                    </div>
                    <div class="list-title-right">
                        <a href="#">私信他</a>
                        <a href="#">关注他</a>
                    </div>
                </div>
                <div class="topic-list-content">
                    好想关心你想关心你，可是你最近好像忙到没有任何不顺心的事情需要向我倾诉，想用全力去爱你，可是好像并不能让你心生欢喜，嘴上说着你的那些追求者都不是我的对手，可是至少他们可以光明正大的去追求你，不像我...
                </div>
                <div class="topic-list-footer">
                    <a href="#"><i class="txh icon-pinglun"></i>33</a>
                    <a href="#"><i class="txh icon-zan"></i>33</a>
                </div>
            </div>
            <div class="placeholder"></div>
            <div class="topic-list">
                <div class="topic-list-title">
                    <div class="list-title-left">
                        <div class="left-header">
                            <img src="./images/luntan/luntan_header1.png" alt="">
                        </div>
                        <div class="left-username">
                            <p class="username">小狼孩</p>
                            <p class="time">20:23</p>
                        </div>
                    </div>
                    <div class="list-title-right">
                        <a href="#">私信他</a>
                        <a href="#">关注他</a>
                    </div>
                </div>
                <div class="topic-list-content">
                    好想关心你想关心你，可是你最近好像忙到没有任何不顺心的事情需要向我倾诉，想用全力去爱你，可是好像并不能让你心生欢喜，嘴上说着你的那些追求者都不是我的对手，可是至少他们可以光明正大的去追求你，不像我...
                </div>
                <div class="topic-list-footer">
                    <a href="#"><i class="txh icon-pinglun"></i>33</a>
                    <a href="#"><i class="txh icon-zan"></i>33</a>
                </div>
            </div>
        </div>
        <div class="aside-right">
            <a href="#"><i class="txh icon-bianji"></i></a>
        </div>
    </div>
    <div class="page-content-common">222</div>
    <div class="page-content-common">
        <div class="tag-list-box">
            <a class="tag-list active">标签一</a>
            <a class="tag-list">标签二</a>
            <a class="tag-list">标签三</a>
            <a class="tag-list">标签四</a>
        </div>
        <div class="topic-list-box">
            <div class="topic-list">
                <div class="topic-list-title">
                    <div class="list-title-left">
                        <div class="left-header">
                            <img src="./images/luntan/luntan_header1.png" alt="">
                        </div>
                        <div class="left-username">
                            <p class="username">小狼孩</p>
                            <p class="time">20:23</p>
                        </div>
                    </div>
                    <div class="list-title-right">
                        <a href="#">私信他</a>
                        <a href="#">关注他</a>
                    </div>
                </div>
                <div class="topic-list-content">
                    好想关心你想关心你，可是你最近好像忙到没有任何不顺心的事情需要向我倾诉，想用全力去爱你，可是好像并不能让你心生欢喜，嘴上说着你的那些追求者都不是我的对手，可是至少他们可以光明正大的去追求你，不像我...
                </div>
                <div class="topic-list-footer">
                    <a href="#"><i class="txh icon-pinglun"></i>33</a>
                    <a href="#"><i class="txh icon-zan"></i>33</a>
                </div>
            </div>
            <div class="placeholder"></div>
            <div class="topic-list">
            <div class="topic-list-title">
                <div class="list-title-left">
                    <div class="left-header">
                        <img src="./images/luntan/luntan_header1.png" alt="">
                    </div>
                    <div class="left-username">
                        <p class="username">小狼孩</p>
                        <p class="time">20:23</p>
                    </div>
                </div>
                <div class="list-title-right">
                    <a href="#">私信他</a>
                    <a href="#">关注他</a>
                </div>
            </div>
            <div class="topic-list-content">
                好想关心你想关心你，可是你最近好像忙到没有任何不顺心的事情需要向我倾诉，想用全力去爱你，可是好像并不能让你心生欢喜，嘴上说着你的那些追求者都不是我的对手，可是至少他们可以光明正大的去追求你，不像我...
            </div>
            <div class="topic-list-footer">
                <a href="#"><i class="txh icon-pinglun"></i>33</a>
                <a href="#"><i class="txh icon-zan"></i>33</a>
            </div>
        </div>
            <div class="placeholder"></div>
            <div class="topic-list">
                <div class="topic-list-title">
                    <div class="list-title-left">
                        <div class="left-header">
                            <img src="./images/luntan/luntan_header1.png" alt="">
                        </div>
                        <div class="left-username">
                            <p class="username">小狼孩</p>
                            <p class="time">20:23</p>
                        </div>
                    </div>
                    <div class="list-title-right">
                        <a href="#">私信他</a>
                        <a href="#">关注他</a>
                    </div>
                </div>
                <div class="topic-list-content">
                    好想关心你想关心你，可是你最近好像忙到没有任何不顺心的事情需要向我倾诉，想用全力去爱你，可是好像并不能让你心生欢喜，嘴上说着你的那些追求者都不是我的对手，可是至少他们可以光明正大的去追求你，不像我...
                </div>
                <div class="topic-list-footer">
                    <a href="#"><i class="txh icon-pinglun"></i>33</a>
                    <a href="#"><i class="txh icon-zan"></i>33</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="lib/js/zepto.min.js"></script>
<script src="lib/js/weui.min.js"></script>
<script src="lib/js/jweui.min.js"></script>
<script src="lib/js/jquery.min.js"></script>
<script>
    $(function(){
        $(".function-bar").on("click",".bar-list",function(){
            if(!($(this).hasClass("active"))){
                $(this).addClass("active").siblings().removeClass("active");
                $($(".page-content-common")[$(this).index()]).css("display","block").siblings().css("display","none");
            }
        });
        $(".tag-list-box").on("click",".tag-list",function(){
            if(!($(this).hasClass("active"))){
                $(this).addClass("active").siblings().removeClass("active");
            }
        });
    })
</script>
</html>