<extend name="Common/common" />
<block name="stylesheet">
    <link rel="stylesheet" href="/mobile/style/teacher_activity.css">
</block>
<block name="title">我的活动</block>
<block name="header_btn"> <a href="{:U('activity/create')}">创建活动</a> </block>
<block name="content">
    <div class="page">
        <div class="class-list-box">
            <foreach name="showData" item="item">
                <div class="activity-list">
                    <div class="img-box">
                        <a href="{:U('activity/details', array('activity_id'=>$item['id']))}">
                            <img src="{:imageDomain($item['cover_img'], '/mobile/images/activity/activity1.png')}" alt="">
                            <p>{$item.name}</p>
                        </a>
                    </div>
                    <div class="function-list">
                        <div class="list-box">
                            <if condition="$item.status == 0" >
                                <a class="fuction" onclick="ck.release({$item.id});">发布</a>
                                <a class="fuction" onclick="ck.closure({$item.id});">结束</a>
                            <elseif condition="$item.status == 1"  />
                                <a class="fuction" onclick="ck.closure({$item.id});">结束</a>
                            </if>
                        </div>
                        <if condition="$item.status == 0" >
                            <a class="fuction" href="{:U('activity/create', array('activity_id'=>$item['id']))}">编辑</a>
                        </if>
                    </div>
                </div>
            </foreach>
        </div>
    </div>
    <script>
        // 发布   // 结束
        (function(_){
            _.release = function(activity_id)
            {
                weui.confirm('确定发布该活动么?', function(){
                    $.post("{:U('activity/release')}", {activity_id: activity_id}, function(returnData){
                        ajaxReturnMsg(returnData, true);
                    });
                });
            };
            _.closure = function(activity_id)
            {
                weui.confirm('确定结束该活动么?', function(){
                    $.post("{:U('activity/closure')}", {activity_id: activity_id}, function(returnData){
                        ajaxReturnMsg(returnData, true);
                    });
                });
            };
        })(ck={});
    </script>
</block>