<extend name="Common/header" />
<block name="stylesheet">
<link rel="stylesheet" href="/mobile/style/index.css">
<link rel="stylesheet" href="/mobile/style/teacherIndex.css">
</block>
<block name="title">首页</block>
<block name="content">
    <div class="header">
        <!--左侧图标-->
        <span class="header-back" onclick="window.history.go(-1)">
            <a href="#"><img src="/mobile/images/logo.png" alt=""></a>
        </span>
        <!--中间文字-->
        <span class="header-text">童学惠</span>
        <!--右侧按钮-->
        <span class="header-btn">
        <if condition="session('?login_info')">
            <a href="{:U('user/personal')}"><i class="txh icon-geren-80"></i></a>
        <else/>
            <a href="{:U('login/index')}"><i class="txh icon-geren-80"></i></a>
        </if>
    </span>
    </div>

    <div class="page">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/mobile/images/slide1.png" alt=""></div>
                <div class="swiper-slide"><img src="/mobile/images/slide2.png" alt=""></div>
                <div class="swiper-slide"><img src="/mobile/images/slide1.png" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!--根据不同身份切换不同模板-->
        <if condition="$user_type eq 2">
            <!--管理员-->
            <include file="Index/manager" />
        <elseif condition="$user_type eq 1" />
            <!-- 教师 -->
            <include file="Index/teacher" />
        <else />
            <!-- 学生 -->
            <include file="Index/student" />
        </if>

        <div class="hots">
            <div class="hot-header">
                <i class="txh icon-remen"></i>
                <span>热门活动</span>
            </div>
            <div class="hot-content">
                <div class="weui-flex">
                    <foreach name="hotActivity" item="item">
                        <a class="weui-flex__item" href="{:U('activity/details', array('activity_id'=>$item['id']))}">
                            <div  class="placeholder" style="margin-right: 10px">
                                <img src="{:imageDomain($item['cover_img'], '/mobile/images/slide1.png')}" alt="">
                            </div>
                        </a>
                    </foreach>
                </div>
            </div>
        </div>
    </div>

    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows : true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
</block>



