<!--管理员-->
<div class="activity-container">
    <div class="weui-flex">
        <a href="teacher_activity.html" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy1.png" alt="">
                <p>活动管理</p>
            </div>
        </a>
        <a href="maneger_class.html" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy2.png" alt="">
                <p>班级管理</p>
            </div>
        </a>
        <a href="integral_manager.html" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy3.png" alt="">
                <p>积分管理</p>
            </div>
        </a>
        <a href="library.html" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy4.png" alt="">
                <p>图书馆管理</p>
            </div>
        </a>
    </div>
</div>
<div class="absent-day">
    <div class="absent-container">
        <div class="left-absent_img">
            <img src="/mobile/images/absent.png" alt="">
        </div>
        <div class="center-calender">
            <a href="person_manager.html">
                <i class="txh icon-xingming"></i>
                用户管理
            </a>
            <a id="tongji" href="#" style="margin-left: 10px">
                <i class="txh icon-xiaobenkechengtongji"></i>
                数据统计
            </a>
        </div>
        <div class="right-days">

        </div>
    </div>
</div>