<!--管理员-->
<div class="activity-container">
    <div class="weui-flex">
        <a href="{:U('activity/index')}" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy1.png" alt="">
                <p>活动管理</p>
            </div>
        </a>
        <a href="{:U('Home/MyClass/index')}" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy2.png" alt="">
                <p>班级管理</p>
            </div>
        </a>
        <a href="{:U('Manager/index')}" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy3.png" alt="">
                <p>积分管理</p>
            </div>
        </a>
        <a href="{:U('library/index')}" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy4.png" alt="">
                <p>图书馆管理</p>
            </div>
        </a>
    </div>
</div>
<div class="absent-day">
    <div class="absent-container">
        <div class="left-absent_img">
            <img src="/mobile/images/absent.png" alt="">
        </div>
        <div class="center-calender">
            <a href="{:U('Manager/userManager')}">
                <i class="txh icon-xingming"></i>
                用户管理
            </a>
            <a id="tongji" href="#" style="margin-left: 10px">
                <i class="txh icon-xiaobenkechengtongji"></i>
                数据统计
            </a>
        </div>
        <div class="right-days">

        </div>
    </div>
</div>
<div class="js_dialog" id="iosDialog1" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">
            <div class="weui-cells weui-cells_checkbox">
                <label class="weui-cell weui-check__label">
                    <div class="weui-cell__hd">
                        <p>注册学员：</p>
                    </div>
                    <div class="weui-cell__bd">
                        <p>{$totalUser}</p>
                    </div>
                </label>
                <label class="weui-cell weui-check__label">
                    <div class="weui-cell__hd">
                        <p>使用中学员:</p>
                    </div>
                    <div class="weui-cell__bd">
                        <p>{$usingUser}</p>
                    </div>
                </label>
                <label  class="weui-cell weui-check__label">
                    <div class="weui-cell__hd">
                        <p>已过期学员:</p>
                    </div>
                    <div class="weui-cell__bd">
                        <p>{$pastUser}</p>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        var $iosDialog1 = $('#iosDialog1');
        $('#tongji').on('click', function(){
            $iosDialog1.fadeIn(200);
        });
        $(".weui-mask").on('click',function () {
            $iosDialog1.fadeOut(200);
        })
    })
</script>