<!--学生模板-->
<div class="activity-container">
    <div class="weui-flex">
        <a class="weui-flex__item" href="{:U('activity/index')}">
            <div  class="placeholder">
                <img src="/mobile/images/buy1.png" alt="">
                <p>课程活动</p>
            </div>
        </a>
        <a class="weui-flex__item" href="{:U('student/course')}">
            <div  class="placeholder">
                <img src="/mobile/images/buy2.png" alt="">
                <p>今日作业</p>
            </div>
        </a>
        <a class="weui-flex__item" href="{:U('shop/index')}">
            <div  class="placeholder">
                <img src="/mobile/images/buy3.png" alt="">
                <p>积分商城</p>
            </div>
        </a>
        <a class="weui-flex__item" href="{:U('library/index')}">
            <div  class="placeholder">
                <img src="/mobile/images/buy4.png" alt="">
                <p>图书馆</p>
            </div>
        </a>
    </div>
</div>
<div class="absent-day">
    <div class="absent-container">
        <div class="left-absent_img">
            <img src="/mobile/images/absent.png" alt="">
        </div>
        <div class="center-calender">
            <i class="txh icon-rili"></i>
            <span>缺课天数</span>
        </div>
        <div class="right-days">
            <span>20天</span>
        </div>
    </div>
</div>