<!--教师-->
<div class="activity-container">
    <div class="weui-flex">
        <a href="teacher_activity.html" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy1.png" alt="">
                <p>我的活动</p>
            </div>
        </a>
        <a href="{:U('Home/MyClass/index')}" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy2.png" alt="">
                <p>我的班级</p>
            </div>
        </a>
        <a href="student_manager.html" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy3.png" alt="">
                <p>学生管理</p>
            </div>
        </a>
        <a href="library.html" class="weui-flex__item">
            <div class="placeholders">
                <img src="/mobile/images/buy4.png" alt="">
                <p>图书馆管理</p>
            </div>
        </a>
    </div>
</div>
<div class="absent-day">
    <div class="absent-container">
        <div class="left-absent_img">
            <img src="/mobile/images/absent.png" alt="">
        </div>
        <div class="center-calender">
            <a href="{:U('Home/CreateBook/index')}">
                <i class="txh icon-jia"></i>
                创建作业
            </a>
        </div>
        <div class="right-days">

        </div>
    </div>
</div>