<extend name="Common/common" />
<block name="stylesheet"><link rel="stylesheet" href="/mobile/style/deposit_cash.css"></block>
<block name="title">我的保证金</block>
<block name="content">
    <div class="page">
        <div class="page-content">
            <div class="page-content-img">
                <img src="/mobile/images/addclass/cash.png" alt="">
                <span>{$ac['price']}</span>
            </div>
            <p>我的保证金（元）</p>
        </div>
        <div class="apply_join">
            <if condition="floatval($ac['price'])">
                <a id="deposit">退还保证金</a>
                <else/>
                <!--<a href="#" onclick="ck.deposit();" class="refund_deposit">缴纳保证金</a>-->
            </if>
            <input type="hidden" name="id" value="{$ac.id}">
        </div>
    </div>
    <script type="text/javascript">
        (function(_){
            _.deposit = function()
            {
                $.get("{:U('weixin/pay')}", { re : '{:U("index")}' }, function(returnData){
                    ajaxReturnMsg(returnData);
                });
            }
        })(ck={});

        $('#deposit').click(function(){
            $.post("{:U('Home/User/depositFunc')}",{id:$("input[name='id']")},function(res){
                ajaxReturnMsg(res);
            });
        });
    </script>
</block>
