<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>新建班级</title>
    <link rel="stylesheet" href="/mobile/css/weui.css">
    <link rel="stylesheet" href="/mobile/css/weui_reset.css">
    <link rel="stylesheet" href="/mobile/fonts/iconfont.css">
    <link rel="stylesheet" href="/mobile/style/teacher_createclass.css">
</head>
<body>
<div class="header">
    <!--左侧图标-->
    <span class="header-back" onclick="window.history.go(-1)">
            <i class="txh icon-xiangzuo"></i>
        </span>
    <!--中间文字-->
    <span class="header-text">我的班级</span>
    <!--右侧按钮-->
<!--     <span class="header-btn">
        <a style="font-weight: normal;">
           <i class="txh icon-share"></i>
        </a>
    </span> -->

</div>

<div class="page">
    <div class="class-name">
        <label>班级名称</label>
        <input type="text" placeholder="输入班级名称">
    </div>
    <div class="placeholder"></div>
    <div class="footer-box">
        <a href="all_student.html"><i class="txh icon-add"></i>添加学员</a>
        <a class="homework" href="homework.html"><i class="txh icon-buzhizuoye-"></i>布置作业</a>
    </div>
</div>

</body>
<script src="/mobile/js/zepto.min.js"></script>
<script src="/mobile/js/weui.min.js"></script>
<script src="/mobile/js/jweui.min.js"></script>
<script src="/mobile/js/jquery.min.js"></script>

</html>