body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
body div.header {
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #2addfd;
  position: fixed;
  z-index: 100;
  color: #fff;
  transition: 300ms;
}
body div.header >span.header-back {
  position: absolute;
  left: 6px;
  top: 5px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  height: 40px;
}
body div.header >span.header-back >i {
  font-size: 28px;
}
body div.header .header-text {
  position: absolute;
  left: 50px;
  font-size: 20px;
  display: inline-block;
  right: 50px !important;
  text-align: center !important;
}
body div.header .header-btn {
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 60px;
  right: 0;
}
body div.header .header-btn >a {
  text-align: center;
  height: 100%;
  color: #fff;
  font-weight: normal;
  font-size: 13px;
}
body div.page {
  top: 50px;
  bottom: 60px;
  left: 0;
  right: 0;
  position: absolute;
  overflow-y: auto;
}
body div.page .class-name {
  box-sizing: border-box;
  margin: 10px;
  padding-bottom: 5px;
}
body div.page .class-name label {
  font-weight: 500;
  display: block;
  text-align: left;
  font-size: 16px;
  color: #333;
  line-height: 40px;
}
body div.page .class-name input {
  width: 95%;
  height: 40px;
  font-size: 14px;
}
body div.page .instruct_text {
  box-sizing: border-box;
  margin: 10px;
  color: #999;
  font-size: 14px;
  line-height: 30px;
}
body div.page .textarea-box {
  margin: 0 10px 10px;
}
body div.page .textarea-box .weui-textarea {
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}
body div.page .uploader .weui-cells {
  display: block;
  text-align: left;
  font-size: 16px;
  color: #333;
  line-height: 40px;
}
body div.page .uploader .weui-cells:before {
  height: 0;
  border: none;
}
body div.page .uploader .weui-cells .weui-uploader__title {
  font-weight: 500;
}
body div.page .uploader .weui-cells .weui-uploader__info {
  font-size: 12px;
  color: #999;
}
body div.page .uploader .weui-cells .weui-uploader__file {
  position: relative;
}
body div.page .uploader .weui-cells .weui-uploader__file .img-mask {
  position: absolute;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body div.page .uploader .weui-cells .weui-uploader__file .img-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -15px;
}
body div.page .uploader .weui-cells .weui-uploader__file .img-delete i {
  font-size: 30px;
  color: #fff;
  text-align: center;
}
body div.footer-box {
  position: fixed;
  width: 100%;
  bottom: 10px;
  display: flex;
}
body div.footer-box a {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  line-height: 45px;
  height: 45px;
  text-align: center;
  background-color: #65d3f0;
  color: #fff;
  border-radius: 30px;
}
