div.header {
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #f7f7f7;
  position: fixed;
  z-index: 100;
  color: #151515;
  transition: 300ms;
}
div.header >span.header-back {
  position: absolute;
  left: 6px;
  top: 5px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  height: 40px;
}
div.header >span.header-back >i {
  font-size: 22px;
}
div.header .header-text {
  position: absolute;
  left: 50px;
  height: 100%;
  font-size: 20px;
  display: inline-block;
  right: 50px !important;
  text-align: center !important;
}
div.header .header-btn {
  position: absolute;
  text-align: center;
  height: 100%;
  display: inline-block;
  width: 80px;
  right: 0;
}
div.header .header-btn >a {
  font-size: 16px;
  text-align: center;
  height: 100%;
  color: #da8500;
}
div.page {
  padding-top: 50px;
  transition: 300ms;
  position: relative;
  z-index: 10;
  font-size: 14px;
}
div.page .login-box {
  margin-top: 30px;
  width: 100%;
}
div.page .login-box .list-yanzheng input {
  box-sizing: border-box;
  width: 70% !important;
  padding-right: 15%;
}
div.page .login-box .list-yanzheng >a {
  color: #ec2d2d;
  font-size: 12px;
  line-height: 45px;
  position: relative;
}
div.page .login-box .list-yanzheng >a:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 50%;
  left: -10px;
  top: 25%;
  background-color: #d5d5d5;
}
div.page .login-box .login-list {
  width: 90%;
  margin-left: 5%;
  border: 1px solid #d5d5d5;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
div.page .login-box .login-list >i {
  font-size: 22px;
  color: #d5d5d5;
}
div.page .login-box .login-list >input {
  background-color: transparent;
  border-color: transparent;
  -webkit-appearance: none;
  height: 30px;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 5px;
  line-height: 30px;
  font-size: 14px;
  margin-top: 5px;
}
div.page .login-box .login-submit {
  width: 90%;
  text-align: center;
  height: 40px;
  margin-top: 30px;
  margin-left: 5%;
}
div.page .login-box .login-submit a {
  display: inline-block;
  background-color: #21ddfd;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
