body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
/*background-image url("../images/library/libray_bg.png")
  background-repeat no-repeat
  background-size cover*/
}
body:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/library/libray_bg.png") center 0 no-repeat;
  background-size: cover;
}
body div.header {
  top: 0;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  z-index: 100;
  color: #fff;
  transition: 300ms;
  position: relative;
}
body div.header >span.header-back {
  position: absolute;
  left: 6px;
  top: 5px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  height: 40px;
}
body div.header >span.header-back >i {
  font-size: 28px;
}
body div.header .header-text {
  position: absolute;
  left: 50px;
  height: 100%;
  font-size: 20px;
  display: inline-block;
  right: 50px !important;
  text-align: center !important;
}
body div.header .header-btn {
  position: absolute;
  text-align: center;
  height: 100%;
  display: inline-block;
  width: 60px;
  right: 0;
}
body div.header .header-btn >a {
  text-align: center;
  height: 100%;
  color: #fff;
}
body div.header .header-btn >a >i {
  font-size: 20px;
}
body div.page {
  padding-bottom: 20px;
  transition: 300ms;
  margin-top: 50px;
  z-index: 10;
  font-size: 14px;
  background-color: transparent;
}
body div.page .library-title {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 10px;
  box-sizing: border-box;
}
body div.page .library-title .library-left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-left: 10px;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
body div.page .library-title .library-left >img {
  width: 100%;
}
body div.page .library-title .library-text {
  font-size: 14px;
  color: #e66363;
  flex: 1;
}
body div.page .library-title .library-right {
  display: flex;
  width: 100px;
  font-size: 10px;
  margin-right: 10px;
}
body div.page .library-title .library-right a {
  position: relative;
}
body div.page .library-title .library-right a >img {
  width: 100%;
}
body div.page .library-title .library-right a .right_aside {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 6px;
  color: #fff;
}
body div.page .library-title .library-right a .right_aside >i {
  margin: 0;
  padding: 0;
}
body div.page .library-title .library-right a .right_aside >p {
  margin-top: -5px;
  padding: 0;
}
body div.page .library-content {
  position: absolute;
  top: 80px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  z-index: 998;
  width: auto;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
body div.page .library-content .library-function {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
body div.page .library-content .library-function #wrapper {
  position: relative;
  z-index: 10000;
  width: 100%;
  overflow: hidden;
}
body div.page .library-content .library-function #wrapper #scroller {
  width: 630px;
}
body div.page .library-content .library-function #wrapper #scroller .function-list {
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  float: left;
  width: 66px;
  height: 85px;
  padding-bottom: 10px;
}
body div.page .library-content .library-function #wrapper #scroller .function-list >img {
  width: 100%;
}
body div.page .library-content .library-function #wrapper #scroller .function-list >p {
  color: #343434;
  font-size: 16px;
}
body div.page .library-content .line >img {
  width: 100%;
}
body div.page .library-content .library-box {
  padding: 10px;
}
body div.page .library-content .library-box .library-box-title {
  margin-bottom: 15px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
body div.page .library-content .library-box .library-box-title .box-title-left a {
  padding: 10px 20px;
  color: #fff;
  background-color: #bedca6;
  border-radius: 4px;
}
body div.page .library-content .library-box .library-box-title .box-title-right >a {
  color: #888;
}
body div.page .library-content .library-box .library-box-content {
  display: flex;
}
body div.page .library-content .library-box .library-box-content .box-content-list >img {
  width: 100%;
  height: 120px;
}
body div.page .library-content .library-box .library-box-content .box-content-list p {
  color: #333;
  text-align: center;
}
body div.page .library-content .library-box .library-box-content .list-center {
  margin: 0 10px;
}
