body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
body div.header {
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #2addfd;
  position: fixed;
  z-index: 100;
  color: #fff;
  transition: 300ms;
}
body div.header >span.header-back {
  position: absolute;
  left: 6px;
  top: 5px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  height: 40px;
}
body div.header >span.header-back >i {
  font-size: 28px;
}
body div.header .header-text {
  position: absolute;
  left: 50px;
  height: 100%;
  font-size: 20px;
  display: inline-block;
  right: 50px !important;
  text-align: center !important;
}
body div.header .header-btn {
  position: absolute;
  text-align: center;
  height: 100%;
  display: inline-block;
  width: 80px;
  right: 0;
}
body div.header .header-btn >a {
  text-align: center;
  height: 100%;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  background-color: #c5d95b;
  padding: 5px 10px;
  border-radius: 4px;
}
body div.page {
  top: 50px;
  bottom: 45px;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  overflow-y: auto;
}
body div.page .my-works-box .my-work-title {
  line-height: 45px;
  color: #2d2d2d;
  padding: 0 10px;
}
body div.page .my-works-box .my-work-title i {
  color: #c9ced1;
}
body div.page .my-works-box .class-list-box {
  box-sizing: border-box;
  width: 100%;
}
body div.page .my-works-box .class-list-box .class-list {
  margin-bottom: 10px;
  float: left;
  width: 30%;
  margin-left: 10px;
}
body div.page .my-works-box .class-list-box .class-list img {
  width: 100%;
}
body div.page .my-works-box .class-list-box .class-list p {
  text-align: center;
  color: #666;
  font-size: 13px;
}
