body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
body div.header {
    top: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #2addfd;
    position: fixed;
    z-index: 100;
    color: #fff;
    transition: 300ms;
}
body div.header >span.header-back {
    position: absolute;
    left: 6px;
    top: 5px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    height: 40px;
}
body div.header >span.header-back >i {
    font-size: 28px;
}
body div.header .header-text {
    position: absolute;
    left: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    right: 50px !important;
    text-align: center !important;
}
body div.header .header-btn {
    position: absolute;
    text-align: center;
    height: 100%;
    display: inline-block;
    width: 60px;
    right: 0;
}
body div.header .header-btn >a {
    text-align: center;
    height: 100%;
    color: #fff;
    font-weight: normal;
    font-size: 13px;
}