*{
    cursor: pointer;
}

body,html{
    height:100%;
    -webkit-tap-highlight-color:transparent
}
body{
    font-family:-apple-system-font,Helvetica Neue,Helvetica,sans-serif
}
ul{
    list-style:none
}
.page,body{
    background-color:#fff
}
.link{
    color:#21ddfd
}
.container{
    overflow:hidden
}
.container,.page{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0
}
.page{
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    z-index:1
}
.page.js_show{
    opacity:1
}
.page__hd{
    padding:40px
}
.page__bd_spacing{
    padding:0 15px
}
.page__ft{
    padding-top:40px;
    padding-bottom:10px;
    text-align:center
}
.page__ft img{
    height:19px
}
.page__ft.j_bottom{
    position:absolute;
    bottom:0;
    left:0;
    right:0
}
.page__title{
    text-align:left;
    font-size:20px;
    font-weight:400
}
.page__desc{
    margin-top:5px;
    color:#888;
    text-align:left;
    font-size:14px
}
.page.home .page__intro-icon{
    margin-top:-.2em;
    margin-left:5px;
    width:16px;
    height:16px;
    vertical-align:middle
}
.page.home .page__title{
    font-size:0;
    margin-bottom:15px
}
.page.home .page__bd img{
    width:30px;
    height:30px
}
.page.home .page__bd li{
    margin:10px 0;
    background-color:#fff;
    overflow:hidden;
    border-radius:2px;
    cursor:pointer
}
.page.home .page__bd li.js_show .weui-flex{
    opacity:.4
}
.page.home .page__bd li.js_show .page__category{
    height:auto
}
.page.home .page__bd li.js_show .page__category-content{
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0)
}
.page.home .page__bd li:first-child{
    margin-top:0
}
.page.home .page__category{
    height:0;
    overflow:hidden
}
.page.home .page__category-content{
    opacity:0;-webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    -webkit-transition:.3s;transition:.3s
}
.page.home .weui-flex{
    padding:20px;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-transition:.3s;
    transition:.3s
}
.page.home .weui-cells{
    margin-top:0
}
.page.home .weui-cells:after,.page.home .weui-cells:before{
    display:none
}
.page.home .weui-cell{
    padding-left:20px;
    padding-right:20px
}.page.home .weui-cell:before{
     left:20px;
     right:20px
 }
.page.button .page__bd{
    padding:0 15px
}
.page.button .button-sp-area{
    margin:0 auto;
    padding:15px 0;
    width:60%}
.page.cell .page__bd,.page.form .page__bd{
    padding-bottom:30px
}
.page.actionsheet,.page.dialog{
    background-color:#fff
}
.page.dialog .page__bd{
    padding:0 15px
}
.page.msg,.page.msg_success,.page.msg_warn,.page.toast{
    background-color:#fff
}
.page.panel .page__bd{
    padding-bottom:20px
}
.page.article{
    background-color:#fff
}
.page.icons{
    text-align:center
}
.page.icons .page__bd{
    padding:0 40px;
    text-align:left
}
.page.icons .icon-box{
    margin-bottom:25px;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center
}
.page.icons .icon-box i{
    margin-right:18px
}
.page.icons .icon-box__ctn{
    -webkit-flex-shrink:100;
    flex-shrink:100
}
.page.icons .icon-box__title{
    font-weight:400
}.page.icons .icon-box__desc{
     margin-top:6px;
     font-size:12px;
     color:#888
 }
.page.icons .icon_sp_area {
    margin-top: 10px;
    text-align: left
}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.clearfix{overflow:hidden;_zoom:1;}
input,textarea{
    text-indent: 0;
    background: transparent;
    border: 1px solid #e8e8e8;
    resize:none;
    outline:none;  /*清除选中效果的默认蓝色边框 */
    -webkit-appearance:none;  /*清除浏览器默认的样式 */
    line-height: normal;
    padding-left: 10px;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../../images/arrow.png) no-repeat scroll right center transparent;
    padding-right: 14px;
    height: 30px;
    width: 100%;
    border: 1px solid #d8d8d8;
    padding-left: 10px;
    outline: none;
    border-radius: 4px;
    color: #A0A0A0;
    background-color: #fff;
    font-size: 14px;
}
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display:none
}

 input[type="checkbox"] + span{
    width:20px;height:20px;
    display:inline-block;
    background:url("../../images/activity/checkbox_01.gif")  no-repeat;background-position:0 0;}
input[type="checkbox"]:checked + span{background-position:0 -21px}


.comment-box{
    display: none;
}
.showBox{
    display: flex ;
}